<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ibadan.gdg.qwizzmvp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/qwizz"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.HomeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".quiz.QuizActivity"
            android:label="@string/app_name"
            android:parentActivityName=".home.HomeActivity"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibadan.gdg.qwizzmvp.home.HomeActivity" />
        </activity>
        <activity
            android:name=".results.ResultsActivity"
            android:label="@string/results"
            android:parentActivityName=".home.HomeActivity"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ibadan.gdg.qwizzmvp.home.HomeActivity" />
        </activity>
        <activity
            android:name=".leaderboard.LeaderboardActivity"
            android:label="@string/title_activity_leaderboard"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>